
<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name=author content="Scott D. Anderson">
    <title>File Upload</title>
</head>
<body>

{% with messages = get_flashed_messages() %}
{% if messages %}
<p>Flashes:</p>
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

<p>Form to upload a file:
<form method="post" action="" enctype="multipart/form-data">
    <p><label for="nm">NM: <input type="text" name="nm"></label></p>
    <p><label for="pic">Pic: <input type="file" name="pic"></label></p>
    <p><input type="submit" value="upload"></p>
</form>

{% if nm != '' and src != '' %}
<p>Last upload: {{nm}}</p>
<p> <img src="{{src}}"></p>
{% endif %}

</body>
</html>
