<!doctype html>
<head>
    <meta charset="utf-8">
    <title>DormForm</title>
    <link type="text/css" rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

{% extends "home.html" %}
<body>
  {% block header %}
    <header>
        <h1><a href="/">DormForm</a></h1>
        <a href="{{url_for('newReview')}}"><button type="button">Leave a Review</button></a>
        <a href="{{url_for('editReview')}}"><button type="button">Edit Review</button></a>
    </header>
    {% endblock %}

{% block page_content %}
<div id="wrapper">
  <h1>Edit a Review for {{building}} {{roomNum}}</h1>
  <div id="content">
   <form method="POST" action="/edit/">
        
        <p>
        <label for="flooring">Flooring</label>
        <select name="flooring">
          <option value = "Wood" SELECTED>wood</option>
          <option value = "Carpet" SELECTED>carpet</option>
          <option value = "Linoleum" SELECTED>linoleum</option>
        </select>

        <p>
        <label for="overallRating">Give your room an overal rating:</label>
        <p>
        <input type="radio" name="overallRating" value="1"> 1<br>
        <input type="radio" name="overallRating" value="2"> 2<br>
        <input type="radio" name="overallRating" value="3"> 3<br>
        <input type="radio" name="overallRating" value="4"> 4<br>
        <input type="radio" name="overallRating" value="5"> 5

        <p>Review: <br><textarea name="review" value={{userreview}}rows="5" cols="30"></textarea>


  <p><input type="submit" name="submit-btn" value="Submit Review">
    </form>
</div>
{% endblock %}

</body>
</html>