{% extends "home.html" %}

{% block page_content %}
<div id="wrapper">
  <h1 "font-family: 'Nunito', sans-serif;">Edit a Review for {{building}} {{roomNum}}</h1>
  <div id="content">
   <form method="POST" action="{{url_for('editRoom', roomID=roomID)}}">
        
        <p style="color:black; font-family: 'Nunito', sans-serif;">
        <label for="flooring">Flooring:</label>
        <select name="flooring">
          <option value = "Wood" SELECTED>Wood</option>
          <option value = "Carpet" SELECTED>Carpet</option>
          <option value = "Linoleum" SELECTED>Linoleum</option>
        </select>
        <br>
        <p style="color:black; font-family: 'Nunito', sans-serif;">
        <label for="overallRating">Give your room an overal rating:</label>
        <br>
        <p style="color:black; font-family: 'Nunito', sans-serif;">
        <input type="radio" name="overallRating" value="1" checked="checked"> 1<br>
        <input type="radio" name="overallRating" value="2"> 2<br>
        <input type="radio" name="overallRating" value="3"> 3<br>
        <input type="radio" name="overallRating" value="4"> 4<br>
        <input type="radio" name="overallRating" value="5"> 5 <br>
        <p style="color:black; font-family: 'Nunito', sans-serif;">Review: <br><textarea name="review" rows="5" cols="30">{{userreview}}</textarea>


  <p><input type="submit" name="submit-btn" value="Submit Review">
    </form>
</div>
{% endblock %}
