<!--
CS304 Final Project: Dorm Form
Midori Yang, Lauren Futami and Brenda Ji
home.html
-->
<!doctype html>
<head>
    <meta charset="utf-8">
    <title>DormForm</title>
    <link type="text/css" rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>
<body>

    {% block header %}
    <header>
        <h1><a href="/">DormForm</a></h1>
        <button type="button" onclick="window.location.href={{url_for('newReview')}}">Leave a Review</button>
        <button type="button" onclick="window.location.href={{url_for('editReview')}}">Edit Review</button>
    </header>
    {% endblock %}

    {% block page_content %}
    <div class="grid"></div>

    <div id="sidebar"></div>

    <script>

        function scrollbarWidth() {
            var div = $('<div style="width:50px;height:50px;overflow:hidden;position:absolute;top:-200px;left:-200px;"><div style="height:100px;"></div>');
            // Append our div, do our calculation and then remove it
            $('body').append(div);
            var w1 = $('div', div).innerWidth();
            div.css('overflow-y', 'scroll');
            var w2 = $('div', div).innerWidth();
            $(div).remove();
            return (w1 - w2);
        }

        //set width of grid area
        $('.grid').width($(window).width()-270-scrollbarWidth());

        function createThumbNail(roomID,url){
            console.log(roomID)
            var thumbNail = $('<div>').addClass('thumbNail');
            //get width of each thumbNail
            var width =($('.grid').width()-15*5-8)/4; //(grid_width-thumbNail_margin*numDiv+1)/numDiv
            thumbNail.width(width);
            thumbNail.height(width*5/4);
            //add image
            var imgContainer = $('<div>').addClass('imgContainer'); //need to hide image overflow
            var img = $('<img>').attr('src','../static/room_example.jpeg');
            imgContainer.height(width);
            img.height(width); //only works for landscape images
            img.on('load', function(){ //center image within container
              console.log($(this).width());
              img.css('left',-(img.width()-width)/2);  //only works for landscape images
            });
            imgContainer.append(img);
            thumbNail.append(imgContainer);

            //add room title
            var title = $('<a>').attr('href',url)
                                .text(roomID);
            thumbNail.append(title);
            return thumbNail;
        }

        //Create thumbnails for each room
        {% for room in roomsData %}
            $('.grid').append(createThumbNail("{{room.roomID}}", "{{url_for('room', roomID=room.roomID)}}"));
        {% endfor %}

    </script>
    {% endblock %}

</body>
</html>
