<!-- 
CS304 Final Project: Dorm Form
Midori Yang, Lauren Futami and Brenda Ji  
room.html
-->

{% extends 'home.html' %}

  {% block page_content %}

  <div id="room">
    <h1></h1>
  </div>

  <div id="wrapper">
  <h2 style="font-family: 'Nunito', sans-serif;">Rooms reviewed by {{username}}</h2>

    <div id="sidebar"></div>
    <div id="content">

        <div id="flashes">

          {% with messages = get_flashed_messages() %}
          {% if messages %}
          <ul style="list-style-type: none; color:red", class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        {% endwith %}
        </div>

  <section id="room_review">
      <table style="font-family: 'Nunito', sans-serif;" id="room_review_table">
          <tr><th>Room Number</th><th>Review</th><th>Rating</th><th>Flooring</th></tr>
          {% for review in reviews %}
          <tr class="review_row">
        <td class="roomNum"><a href="{{url_for('room', roomID = review['roomID'])}}">{{review['roomID']}}</td>    
        <td class="review">{{review['review']}}</td>
        <td class="rating">{{review['overallRating']}}</td>
        <td class="flooring">{{review['flooring']}}</td>
        <td class="edit"><a href="{{url_for('editRoom', roomID=review['roomID'])}}"><button type="button">Edit Review</button></a></td>
          </tr>
          {% endfor %}
      </table>
  </section>
    </div>

  {% endblock %}
