<!--
CS304 Final Project: Dorm Form
Midori Yang, Lauren Futami and Brenda Ji
reviewForm.html
-->
{% extends "home.html" %}

{% block page_content %}

<div id="wrapper">

    <!-- <p> A form for writing reviews for dorms at Wellesley College -->
        <div id="content">
            <form method="POST" action="/newReview/" enctype="multipart/form-data">
                <!-- <label for="reshalls">Residence Halls (will be implemented later!!)</label> <br> -->
                <!--         <select name="reshalls" id="reshallsdropdown">
                <option value="none" selected = "selected">Choose One</option>
                {% for reshall in reshalls %}
                <option value = "{{reshall}}" SELECTED>{{reshall}}</option>
                {% endfor %}
            </select> -->
            <p style="color:black; font-family: 'Nunito', sans-serif;">
                <label for="roomIDs">Available Rooms So Far:</label><br>
                <select name="roomIDs">
                    <option value="none" selected = "selected">Choose One</option>
                    {% for room in roomIDs %}
                    <option value = {{room['roomID']}} SELECTED>{{room['roomID']}}</option>
                    {% endfor %}
                </select><br>

                <p style="color:black; font-family: 'Nunito', sans-serif;">
                    <label for="flooring">Flooring:</label>
                    <select name="flooring">
                        <option value = "Wood" SELECTED>Wood</option>
                        <option value = "Carpet" SELECTED>Carpet</option>
                        <option value = "Linoleum" SELECTED>Linoleum</option>
                    </select><br>

                    <p style="color:black; font-family: 'Nunito', sans-serif;">
                        <label for="overallRating">Give your room an overall rating:</label><br>

                        <p style="color:black;">
                            <input type="radio" name="overallRating" value="1" checked="checked"> 1<br>
                            <input type="radio" name="overallRating" value="2"> 2<br>
                            <input type="radio" name="overallRating" value="3"> 3<br>
                            <input type="radio" name="overallRating" value="4"> 4<br>
                            <input type="radio" name="overallRating" value="5"> 5<br>

                            <p style="color:black; font-family: 'Nunito', sans-serif;">Review: <br><textarea name="review" rows="5" cols="30"></textarea><br>

                            <p><label style="color:black; font-family: 'Nunito', sans-serif;" for="pic">Pic: <input type="file" name="pic"></label></p> <br>
                            <p><input type="submit" name="submit-btn" value="Submit Review">
            </form>
        </div>
</div>
                        <div id="flashes">
                            {% with messages = get_flashed_messages() %}
                            {% if messages %}
                            <ul style="list-style-type: none; color:red", class=flashes>
                                {% for message in messages %}
                                <li>{{ message }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            {% endwith %}
                        </div>
{% endblock %}
