<!--
CS304 Final Project: Dorm Form
Midori Yang, Lauren Futami and Brenda Ji
room.html
-->

{% extends 'home.html' %}



	{% block page_content %}
	<div id="room">
		<h1 style="margin-top:80px;margin-left:20px;font-family:'Nunito',sans-serif">{{roomID}} Room Review</h1>
	</div>
    <div id="content">

        <div id="flashes">

            {% with messages = get_flashed_messages() %}
          {% if messages %}
          <ul style="list-style-type: none; color:red", class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        {% endwith %}
        </div>
  <section id="room_review">
      <table id="room_review_table">
          <tr class="review_header_tr">
            <th>Picture</th>
            <th>Rating</th>
            <th>Review</th>
          </tr>
          {% for review in reviews %}
          <tr class="review_row_tr" id="reviewNum{{review['reviewID']}}">

        <td class="picture">



          <div class="container" style="width:350px">
            <div id="review{{review['reviewID']}}" class="carousel slide" data-ride="carousel" style="width:300px;height:200px;">
            <!-- Indicators -->

            <ol class="carousel-indicators">
            {% set picNum = 0 %}
              {% for picture in pictures %}
                {% if picture['reviewID'] == review['reviewID'] %}
                  {% if picNum == 0 %}
                    <li data-target="#review{{review['reviewID']}}" data-slide-to="{{picNum}}" class="active"></li>
                  {% else %}
                    <li data-target="#review{{review['reviewID']}}" data-slide-to="{{picNum}}"></li>
                  {% endif %} <!-- if picNum==0 -->
                  {% set picNum = picNum + 1 %}
                {% endif %} <!-- if picture['reviewID'] == review['reviewID'] -->
              {% endfor %} <!-- picture in pictures -->
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
            {% set picNum = 0 %}
            {% for picture in pictures %}
              {% if picture['reviewID'] == review['reviewID'] %}
                {% if picNum == 0 %}
              <div class="item active" style="text-align:center">
                <a target="_blank" href="{{url_for('static',filename='images/'+picture['pictureFile'])}}">
                  <img src="../static/images/{{picture['pictureFile']}}" alt="{{picture['pictureFile']}}" style="height:200px;display:inline-block">
                </a>
              </div>

                {% else %}
              <div class="item" style="text-align:center">
                <a target="_blank" href="{{url_for('static',filename='images/'+picture['pictureFile'])}}">
                  <img src="../static/images/{{picture['pictureFile']}}" alt="{{picture['pictureFile']}}" style="height:200px;display:inline-block">
                </a>
              </div>
                {% endif %} <!-- if picNum==0 -->
                {% set picNum = picNum + 1 %}
              {% endif %}
            {% endfor %}
            </div>




          <!-- Left and right controls -->
          <a class="left carousel-control" href="#review{{review['reviewID']}}" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#review{{review['reviewID']}}" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a>




            </div>
          </div>




        </td>


          <td class="rating">
            <div style="width:30px;margin:10px">{{review['overallRating']}}</div>
          </td>
          <td class="review">
            <div style="margin:10px">{{review['review']}}</div>
          </td>


        </tr>
  {% endfor %} <!-- review in reviews -->






      </table>
  </section>
</div> <!-- content -->

<script>
// for the slideshow, delete because we are using bootstrap now

var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("dormPics");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  x[slideIndex-1].style.display = "block";
}
</script>

	{% endblock %}
